<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.device.mapper.GameRunRecordMapper">
	<resultMap id="BaseResultMap" type="com.device.model.GameRunRecord">
		<id column="id" property="id" jdbcType="INTEGER" />
		<result column="game_id" property="gameId" jdbcType="INTEGER" />
		<result column="game_code" property="gameCode" jdbcType="VARCHAR" />
		<result column="game_name" property="gameName" jdbcType="VARCHAR" />
		<result column="run_count" property="runCount" jdbcType="INTEGER" />
		<result column="is_sync" property="isSync" jdbcType="VARCHAR" />
		<result column="game_process" property="gameProcess" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
	</resultMap>
	<sql id="Base_Column_List">
		id, game_id, game_code, game_name,run_count, is_sync, game_process,create_time
	</sql>
	<select id="selectByPrimaryKey" resultMap="BaseResultMap"
		parameterType="java.lang.Integer">
		select
		<include refid="Base_Column_List" />
		from game_run_record
		where id = #{id,jdbcType=INTEGER}
	</select>
	
	
	<select id="findByNoSync" resultMap="BaseResultMap" >
		select
		<include refid="Base_Column_List" />
		from game_run_record
		where is_sync = "no"
	</select>
	
	
	<delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
		delete from game_run_record
		where id = #{id,jdbcType=INTEGER}
	</delete>
	<insert id="insert" parameterType="com.device.model.GameRunRecord">
		insert into game_run_record (id, game_id, game_code,game_name,
		run_count, is_sync, game_process,create_time
		)
		values (#{id,jdbcType=INTEGER}, #{gameId,jdbcType=INTEGER},
		#{gameCode,jdbcType=VARCHAR},#{gameName,jdbcType=VARCHAR},
		#{runCount,jdbcType=INTEGER}, #{isSync,jdbcType=VARCHAR},  #{gameProcess,jdbcType=VARCHAR},#{createTime,jdbcType=TIMESTAMP}
		)
	</insert>
	<insert id="insertSelective" parameterType="com.device.model.GameRunRecord">
		insert into game_run_record
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="gameId != null">
				game_id,
			</if>
			<if test="gameCode != null">
				game_code,
			</if>
			<if test="gameName != null">
				game_name,
			</if>
			<if test="runCount != null">
				run_count,
			</if>
			<if test="isSync != null">
				is_sync,
			</if>
			<if test="gameProcess != null">
				game_process,
			</if>
			<if test="createTime != null">
				create_time,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=INTEGER},
			</if>
			<if test="gameId != null">
				#{gameId,jdbcType=INTEGER},
			</if>
			<if test="gameCode != null">
				#{gameCode,jdbcType=VARCHAR},
			</if>
			<if test="gameName != null">
				#{gameName,jdbcType=VARCHAR},
			</if>
			<if test="runCount != null">
				#{runCount,jdbcType=INTEGER},
			</if>
			<if test="isSync != null">
				#{isSync,jdbcType=VARCHAR},
			</if>
			<if test="gameProcess != null">
				#{gameProcess,jdbcType=VARCHAR},
			</if>
			<if test="createTime != null">
				#{createTime,jdbcType=TIMESTAMP},
			</if>
		</trim>
	</insert>

	<delete id="batchDeleteHistory" parameterType="List">
		DELETE FROM game_run_record where id in
		<foreach item="item" collection="list" open="(" separator=","
			close=")">
			#{item.id}
		</foreach>
	</delete>
</mapper>